/* General styles */
body {
    background-color: #11101d;
    color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Main Container */
.container {
    display: flex;
    justify-content: space-between;
    padding: 35px 20px;
}

/* Side Component */
.side-component {
    width: 250px;
    background: linear-gradient(to right, #161419, #1a1821, #1e1c29, #222031, #262439, #2a2841);
    color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.side-component h3 {
    margin-top: 0;
    font-size: 1.5em;
}

/* Main Content */
.main-content {
    flex: 1;
    margin-left: 20px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;

}

h2 {
    color: #11101d;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Form Group */
.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], input[type="time"], select {
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

button[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    width: 100%;
    cursor: pointer;
    background-color: #02113b;
    color: white;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #121f42;
}

/* Error Message */
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .side-component {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-content {
        margin-left: 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    button[type="submit"] {
        padding: 10px;
        font-size: 1rem;
    }
}
