<div class="profile-section">
  <h1>
    Hello, <img src="wave.png" alt="Greeting GIF" style="width: 40px; height: 40px; margin-left: 0px;" />  {{ Teacher.name }}
  </h1>
  <!-- Personal Information -->
  <div class="profile-info">
    <h2>Personal Information</h2>
    <div class="profile-item">
      <label>Full Name:</label>
      <p>{{ Teacher.name }}</p>  <!-- Binding the Teacher's name -->
    </div>
    <div class="profile-item">
      <label>Phone Number:</label>
      <p>{{ Teacher.phone }}</p>  <!-- Binding the Teacher's phone -->
    </div>
    <div class="profile-item">
      <label>Email:</label>
      <p>{{ Teacher.userRes.email }}</p>  <!-- Binding the Teacher's email -->
    </div>
    <div class="profile-item">
      <label>Subject:</label>
      <p>{{ Teacher.subject.subjectName }}</p>  <!-- Binding the Teacher's subject -->
    </div>
  </div>
</div>
