<div class="profile-section">
  <h1>
    Hello, <img src="wave.png" alt="Greeting GIF" style="width: 40px; height: 40px; margin-left: 0px;" />  {{student.name}}
   
  </h1>
  <!-- Personal Information -->
  <div class="profile-info">
    <h2>Personal Information</h2>
    <div class="profile-item">
      <label>Index Number</label>
      <p>{{ student.indexNumber }}</p>
    </div>
    <div class="profile-item">
      <label>Full Name:</label>
      <p>{{ student.name }}</p>
    </div>
    <div class="profile-item">
      <label>Phone Number:</label>
      <p>{{ student.phone }}</p>
    </div>
    <div class="profile-item">
      <label>Email:</label>
      <p>{{ student.userRes.email }}</p>
    </div>
    <div class="profile-item">
      <label>Class Name:</label>
      <p>{{ student.class.className }}</p>
    </div>
    <div class="profile-item">
      <label>Gender</label>
      <p>
        {{ student.gender == 1 ? 'Male' : (student.gender == 2 ? 'Female' : 'Other') }}
      </p>
    </div>
    
    <div class="profile-item">
      <label>Enrollment Date:</label>
      <p>{{ student.enrollmentDate |date:'MMM d, yyyy, h:mm:ss a'  }}</p> <!-- Format the date -->
    </div>
    
   
  </div>
</div>
