<div class="dashboard container mt-4">

  <!-- Overview Section -->
  <div class="overview row mb-4">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 d-flex justify-content-center mb-3" *ngFor="let card of [
          { title: 'Total Students', value: totalStudents },
          { title: 'Total Teachers', value: totalTeachers },
          { title: 'Total Classes', value: totalClasses },
          { title: 'Total Subjects', value: totalSubjects }
        ]">
      <div class="overview-card">
        <h5>{{ card.title }}</h5>
        <p>{{ card.value }}</p>
      </div>
    </div>
  </div>


  <!-- Pie Grid Section -->
  <div class="pie-grid row mb-4">
    <h3 class="text-secondary">Statistics Overview</h3>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let chart of [
            { name: 'Students', value: totalStudents },
            { name: 'Teachers', value: totalTeachers },
            { name: 'Classes', value: totalClasses },
            { name: 'Subjects', value: totalSubjects }
          ]">
      <ngx-charts-pie-chart [view]="view" [results]="[{ name: chart.name, value: chart.value }]" [legend]="false"
        [labels]="true" [doughnut]="true" [explodeSlices]="true" [gradient]="false">
      </ngx-charts-pie-chart>
    </div>
  </div>

  <!-- Pie Chart Section -->
  <div class="pie-chart-section mb-4">

    <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="pieChartData" [gradient]="true"
      [explodeSlices]="true" [doughnut]="false"></ngx-charts-pie-chart>

  </div>

</div>