:host {
  font-family: 'Roboto', sans-serif;
}

.dashboard {
  gap: 20px;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.overview-card {
  background: linear-gradient(135deg, #ffffff, #ebecec);
  color: #000000;
  border-radius: 12px;
  padding: 20px 30px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 280px;
  box-shadow: 0 5px 15px rgba(112, 112, 112, 0.3);
}

.overview-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 123, 255, 0.4);
}


.pie-grid {
  display: flex;
  flex-wrap: wrap;
}

.pie-grid .col-12 {
  margin-bottom: 20px;
}

.pie-grid ngx-charts-pie-chart {
  display: block;
  margin: auto;
}

.pie-chart-section {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.overview-card {
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

