<div class="container">
    <h2>Forgot Password</h2>
    @if (!EnterdEmail) {
    <div>
        <label for="email">Enter your email:</label>
        <input type="email" id="email" [(ngModel)]="userEmail" />
        <button (click)="SentOTP()">Verify Email & Send OTP</button>
    </div>
    }
    @if(EnterdEmail && !localOTP){
    <div>
        <h3>Enter OTP</h3>
        <label for="otp">OTP:</label>
        <input type="text" id="otp" [(ngModel)]="UserOTP" />
        <button (click)="EnterOTP()">Verify OTP</button>
    </div>
    }
    @if(localOTP){
    <div>
        <h3>Enter Password</h3>
        <label for="otp">New Password:</label>
        <input type="text" id="otp"  [(ngModel)]="UserPassword"/>
        <button (click)="changePassword()">Add Password</button>
    </div>
    }


</div>
