
.container {
    width: 100% ;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    overflow-x: hidden; /* Prevent horizontal overflow */

}

/* Sidebar */
.sidebar {
    width: 250px;
    background: linear-gradient(to right, #161419, #1a1821, #1e1c29, #222031, #262439, #2a2841);
    color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.sidebar h3 {
    margin-top: 0;
    color: #fff;
    font-size: 1.5em;
}


.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li span {
    color: #fff;
    font-size: 1.1em;
}

.sidebar ul li small {
    color: #d1d1d1;
}

/* Main Content */
.main-content {
    flex: 1;
    margin-left: 20px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;

    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
    font-family: 'Arial', sans-serif;
    font-size: 18px; 
    font-weight: bold;
    padding: 5px; 
}

.table th {
    background-color: #333147;
    /* background: linear-gradient(to right, #161419, #1a1821, #1e1c29, #222031, #262439, #2a2841); */
      font-family: "Lucida Console", "Courier New", monospace;

    color: white;
}

.attendance-checkbox {
    cursor: pointer;
}

.status-list li {
    font-size: 1.2em;
    padding: 8px 0;
}

.status-list li.present {
    color: green;
}

.status-list li.absent {
    color: red;
}

.status-header {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.date-picker {
    margin-bottom: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-content {
        margin-left: 0;
    }
}
/* .attendance-dropdown {
    background-color: #ffffff;
    color: #000000; 
}

.attendance-dropdown:focus {
    border-color: #007bff;
} */

.status-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
    font-family: "Times New Roman", Times, serif;

  }
  
  .status-card {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bold;
  }
  
  .status-card h4 {
    margin-bottom: 0.5rem;
  }
  
  .status-card p {
    font-size: 1.5rem;
  }
  
   .present {
    background: linear-gradient(to right, #161419, #1a1821, #1e1c29, #222031, #262439, #2a2841);
  }
  
  .absent {
    background: linear-gradient(to right, #161419, #1a1821, #1e1c29, #222031, #262439, #2a2841);
  }
  
  .late-coming {
    background: linear-gradient(to right, #161419, #1a1821, #1e1c29, #222031, #262439, #2a2841);
  } 
  /* .present {
    background: linear-gradient(to right, #2e8b57, #3cb371, #66cdaa, #8fbc8f);
  }
  
  .absent {
    background: linear-gradient(to right, #b22222, #cd5c5c, #f08080, #fa8072);
  }
  
  .late-coming {
    background: linear-gradient(to right, #ff8c00, #ffa500, #ffb84d, #ffd699); 
  } */

  .custom-btn {
    background-color: #333147; /* Orange background */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .custom-btn:hover {
    background-color: #706666; /* Darker orange on hover */
    color: #161419;
    border: #161419;
  }
  