body {
  background-color: #f8f9fa;
}

.jumbotron {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

h2 {
  margin-top: 30px;
}

.detailsBody {
  padding: 20px;
}

.banner {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background: linear-gradient(to left, #161419, #1a1821, #1e1c29, #222031, #262439, #2a2841);

}
.navbar a {
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Poppins', sans-serif;

  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.custom-btn {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: black;
  color: white;
}
.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
}

.shadow h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 15px;
}

.shadow p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #495057;
  margin-bottom: 15px;
}

.shadow p:last-child {
  margin-bottom: 0;
}

.card {
  border: none;
  border-radius: 10px;
}

.card-title {
  font-weight: bold;
}

.hover-effect:hover {
  background-color:#212529;
  color: white;
  transition: background-color 0.5s ease, transform 0.5s ease;
  transform: scale(1.02);
}
