<div class="profile-section">
    <h1>Student Profile</h1>
  
    <!-- Personal Information -->
    <div class="profile-info">
      <h2>Personal Information</h2>
      <div class="profile-item">
        <label>Full Name:</label>
        <p>{{ staff.name }}</p>
      </div>
      <div class="profile-item">
        <label>Phone Number:</label>
        <p>{{ staff.phone }}</p>
      </div>
      <div class="profile-item">
        <label>Email:</label>
        <p>{{  staff.userRes.email}}</p>
      </div>
      
      
     
    </div>
  </div>
  